<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
		<span class="footer-github pull-left"><a href="https://github.com/vinnyA3" target="_blank">@vinnya3</a></span>
		<span class="footer-love pull-right">Made with <i class="glyphicon glyphicon-heart"></i></span>
  </div>
</nav>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
