{% include "header.htm" %}

<div class="container">
{% block content %}
	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center">
			{% for r in restaurants %}
				<h2>{{r.name}} <span class="edit-restaurant glyphicon glyphicon-pencil
"><a href="/{{r.id}}/editRestaurant">edit</a></span> <span class="edit-restaurant glyphicon glyphicon-minus"><a href="/{{r.id}}/deleteRestaurant">delete</a></span>
				</h2>
			{% endfor %}
		</div>
	</div>
	<br><br><br>
{% endblock %}
</div>

{% include "footer.htm" %}
